sentence-transformers # This is used to embed the text data
textract==1.6.3 # This is used to extract the text from the pdf, docx, pptx, txt files
numpy # We always import numpy lol
lxml # This is used to parse the nxml files
