sentence-transformers # This is used to embed the text data
PyMuPDF # This is used to parse the pdf files
docx2txt # This is used to parse the docx files
python-pptx # This is used to parse the pptx files
numpy # We always import numpy lol
lxml # This is used to parse the nxml files
tqdm # This is used to show the progress bar
chromadb # This is used to store the embeddings and the text data

# Testing imports
torch # This is used to test the embeddings
transformers # This is used to test the embeddings
bert-score # This is used to test the embeddings